<div class="az-content pd-lg-y-60 pd-xl-y-60">
        <div class="container-fluid"> 
          <div class="az-content-body d-flex flex-column">
            <div class="row row-xs">
              <div class="col-md-12">
              <div class="card bd-0">
                <div class="card-header tx-medium bd tx-white bg-gray">
                  <span class="az-content-label">Add Customer</span>
                  <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-style2">
                      <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
                      <li class="breadcrumb-item" aria-current="page"><a routerLink="/customer">Customers</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Add</li>
                    </ol>
                  </nav>
                </div><!-- card-header -->
                <div class="card-body bd bd-t-0">
                   <form [formGroup]="customerRegisterForm" 
                   (ngSubmit)="onSubmit()">
                  <div class="row row-xs justify-content-center mg-b-20">
                    <div class="col-md-2">
                      <label class="form-label mg-b-0 ">Name <span class="tx-danger">*</span></label>
                    </div><!-- col -->
                    <div class="col-md-4 mg-t-5 mg-md-t-0">
                      <input type="text" formControlName="customer_name"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.customer_name.errors }">
                      <div *ngIf="submitted && f.customer_name.errors" class="invalid-feedback">
                          <div *ngIf="f.customer_name.errors.required">Name is required</div>
                        </div>
                    </div><!-- col -->
                  </div><!-- row -->
  
                  <div class="row row-xs justify-content-center mg-b-20">
                    <div class="col-md-2">
                      <label class="form-label mg-b-0 "> Email <span class="tx-danger">*</span></label>
                    </div><!-- col -->
                    <div class="col-md-4 mg-t-5 mg-md-t-0">
                      <input type="email" formControlName="customer_email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.customer_email.errors }">
                      <div *ngIf="submitted && f.customer_email.errors" class="invalid-feedback">
                      <div *ngIf="f.customer_email.errors?.email || f.customer_email.errors?.required">Email is required</div>
                    </div>
                    </div><!-- col -->
                  </div><!-- row -->
      
                  <div class="row row-xs justify-content-center mg-b-20" *ngIf="isAddMode">
                    <div class="col-md-2">
                      <label class="form-label mg-b-0 ">Password <span class="tx-danger">*</span></label>
                    </div><!-- col -->
                    <div class="col-md-4 mg-t-5 mg-md-t-0">
                      <input  formControlName="customer_password" type="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.customer_password.errors }">
                       <div *ngIf="submitted && f.customer_password.errors" class="invalid-feedback">
                      <div *ngIf="f.customer_password.errors.required">Password is required</div>
                    </div>
                    </div><!-- col -->
                  </div><!-- row -->
  
                  <div class="row row-xs justify-content-center mg-b-20">
                    <div class="col-md-2">
                      <label class="form-label mg-b-0 ">Property Limit <span class="tx-danger">*</span></label>
                    </div><!-- col -->
                    <div class="col-md-4 mg-t-5 mg-md-t-0">
                      <input type="number" formControlName="no_of_properties"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.no_of_properties.errors }">
                      <div *ngIf="submitted && f.no_of_properties.errors" class="invalid-feedback">
                      <div *ngIf="f.no_of_properties.errors.required">Property limit is required</div>
                    </div>
                    </div><!-- col -->
                  </div><!-- row -->
  
                  <div class="row row-xs justify-content-center mg-b-20">
                    <div class="col-md-2">
                      <label class="form-label mg-b-0 ">Trial Period </label>
                    </div><!-- col -->               
                    <div class="col-lg-4">                  
                      <select class="form-control select2-no-search" formControlName="trial_period" >
                        <option label="Choose one"></option>
                        <option value="30">30 Days</option>
                        <option value="60">60 Days</option>
                        <option value="90">90 Days</option>
                        <option value="120">120 Days</option>
                      </select>
                       
                    </div><!-- col-4 -->
                  </div><!-- row -->
  
                  <div class="row row-xs justify-content-center mg-b-20">
                    <div class="col-md-2">
                      <label class="form-label mg-b-0 ">Extra Days</label>
                    </div><!-- col -->
                    <div class="col-md-4 mg-t-5 mg-md-t-0">
                      <input type="number" class="form-control" formControlName="extra_days" placeholder="Enter days" >
                     
                    </div><!-- col -->
                  </div><!-- row -->
                  <!-- <div class="row row-xs justify-content-center mg-b-20">
                    <div class="col-md-2">
                      <label class="form-label mg-b-0 "> Image</label>
                    </div>
                    <div class="col-md-4 mg-t-5 mg-md-t-0">
                      <div class="custom-file">
                        <input type="file" formControlName="profile_image" class="custom-file-input" id="customFile" (change)="onFileChange($event)">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                      </div>
                    </div>                
                  </div> -->
  

                  <div class="col-6 d-flex justify-content-end mg-b-20" style="margin: 0 auto;">
                  <a routerLink="/customer"><button class="btn-danger custom-btn">Cancel</button></a>
                  <button class="btn-az-primary mg-r-5 mg-l-10 custom-btn">Save</button>
                </div>
              </form>
                </div><!-- card-body -->
              </div><!-- card -->
            </div>
            </div>
  
           
          </div><!-- az-content-body -->
        </div><!-- container -->
      </div><!-- az-content -->