<!-- breadcrumb -->

<!-- !breadcrumb -->
<!-- Container -->
<div class="container-fluid content-wrap">
    <div class="customer-box">
        <div class="card-head">
            <span class="f-20">View Customer Details</span>
        </div>
        <div class="form-box">
            <form>

                <div class="form-group row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="customerName" class="col-sm-4 col-form-label">
                                <span class="material-icons label-icon">account_box</span>
                                Customer Name
                            </label>
                            <div class="col-sm-8">
                                <span class="bind-value">&ensp;Customer 1</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="userEmail" class="col-sm-4 col-form-label ">
                                <span class="material-icons label-icon">email</span>
                                User Email
                            </label>
                            <div class="col-sm-8">
                                <span class="bind-value">&ensp;customer1@xyz.com</span>
                            </div>
                        </div> 
                        <div class="form-group row">
                            <label for="userStatus" class="col-sm-4 col-form-label">
                                <span class="material-icons label-icon">hotel</span>
                                Number of Properties
                            </label>
                            <div class="col-sm-8">
                                <span class="bind-value">&ensp;5</span>
                            </div>
                        </div>        
                        <div class="form-group row">
                            <label for="userStatus" class="col-sm-4 col-form-label">
                                <span class="material-icons label-icon">update</span>
                                Trial Period
                            </label>
                            <div class="col-sm-8">
                                <span class="bind-value">&ensp;30 Days</span>
                            </div>
                        </div>  
                        <div class="form-group row">
                            <label for="userStatus" class="col-sm-4 col-form-label">
                                <span class="material-icons label-icon">hourglass_bottom</span>
                                Extra Days
                            </label>
                            <div class="col-sm-8">
                                <span class="bind-value">&ensp;15 Days</span>
                            </div>
                        </div> 
                        <div class="form-group row">
                            <label for="userStatus" class="col-sm-4 col-form-label">
                                <span class="material-icons label-icon">verified_user</span>
                                User status
                            </label>
                            <div class="col-sm-8">
                                <span class="bind-value">&ensp;Block</span>
                            </div>
                        </div>                 
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="customFile" class="col-sm-4 col-form-label">
                                <span class="material-icons label-icon">insert_photo</span>
                                User Image
                            </label>
                            <div class="col-sm-8">
                                <div class="userview-img-preview">
                                    <span class="material-icons">wallpaper</span>
                                </div>
                            </div>
                        </div>                        
                    </div>
                    
                    
                </div>


                <!-- <div class="form-group row">
                    <div class="form-group col-md-6 row">
                        <label for="customerName" class="col-sm-4 col-form-label">
                            <span class="material-icons label-icon">account_box</span>
                            Customer Name
                        </label>
                        <div class="col-sm-8">
                            <span class="bind-value">:&ensp;Customer 1</span>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="form-group col-md-6 row">
                        <label for="userEmail" class="col-sm-4 col-form-label">
                            <span class="material-icons label-icon">email</span>
                            User Email
                        </label>
                        <div class="col-sm-8">
                            <span class="bind-value">:&ensp;customer1@xyz.com</span>
                        </div>
                    </div>

                    
                </div>

                <div class="form-group row">
                    
                    <div class="form-group col-md-6 row">
                        <label for="customFile" class="col-sm-4 col-form-label">
                            <span class="material-icons label-icon">insert_photo</span>
                            User Image
                        </label>
                        <div class="col-sm-8">
                            <div class="userview-img-preview">
                                <span class="material-icons">wallpaper</span>
                            </div>
                        </div>
                    </div>
                </div> -->

                  <div class="form-group">
                    <div class="action-bttn">
                        <button type="submit" class="btn btn-outline-dark" routerLink="/customer">
                            <span class="material-icons">reply</span>
                            Back
                        </button>
                        
                    </div>                    
                  </div>     
                  
            </form>
        </div>
        

    </div>
</div>
<!-- !Container -->
