  <!-- breadcrumb -->
 
  <!-- !breadcrumb -->
<!-- Container -->
<div class="container-fluid content-wrap">
 
  <div class="table-top-box">
    <span class="f-20">Task Performance</span> 
    <button type="button" class="btn btn-primary" routerLink="/task-management">
        View Task Board
    </button>
</div>

     
  <!-- Graphical rep -->
  <div class="container-fluid graphic-cards">
    <!-- <div class="graph-header">
     
    </div> -->
    <div style="display: block;">
      <img style="width: 100%;" src="assets/task-graph.jpeg">
    </div>
    <div style="display: block;">
      <img style="width: 50%;" src="assets/task-1.jpeg">
      <img style="width: 50%;" src="assets/task-2.jpeg">
    </div>
    
  </div>
  <!-- !Graphical rep -->


</div>
<!-- !Container -->

