<!-- breadcrumb -->

<!-- !breadcrumb -->
    
<!-- Layout wrapper -->
<div class="layout-wrapper">

    <!-- Content wrapper -->
    <div class="content-wrapper">        

        <!-- Content body -->
        <div class="content-body">

                    

            <div class="row">
                <div class="col-md-8">
                    <h4 class="f-20 font-color-red">Daily Usage</h4>
                    <div id="daily-usage"></div>
                </div>    
                
                <div class="col-md-4">
                    <!-- Sidebar group -->
                    <div class="d-print-none">
                        <!-- Sidebar - Storage -->
                        <div class="sidebar primary-sidebar show" id="storage">   
                            <button class="btn btn-outline-primary btn-sm float-r" routerLink="/document-management">View Folders</button>                         
                            <div class="sidebar-header">
                                <h4 class="f-20 font-color-red">Storage Overview</h4> 
                            </div>
                            <!-- <div class="flex-shrink-0 ml-3">
                                
                            </div> -->
                            <div class="sidebar-content folder-overview">
                                <div id="justgage_five" class="mb-3"></div>
                                <div>
                                    <div class="list-group list-group-flush mb-3">
                                        <a href="#" class="list-group-item px-0 d-flex align-items-center">
                                            <div class="mr-3">
                                                <figure class="avatar">
                                                    <!-- <span class="avatar-title bg-primary-bright text-primary rounded">
                                                        <i class="ti-image"></i>
                                                    </span> -->
                                                    <span class="material-icons avatar-title bg-primary-bright text-primary rounded">
                                                        folder_open
                                                    </span>
                                                </figure>
                                            </div>
                                            <div class="flex-grow-1">
                                                <p class="mb-0">Folder 1</p>
                                                <span class="small text-muted">10 Folders&ensp;(259 Files)</span>
                                            </div>
                                            <div>
                                                <h5 class="text-primary">15.7 GB</h5>
                                            </div>
                                        </a>
                                        <a href="#" class="list-group-item px-0 d-flex align-items-center">
                                            <div class="mr-3">
                                                <figure class="avatar">                                       
                                                    <span class="material-icons avatar-title bg-primary-bright text-primary rounded">
                                                        folder_open
                                                    </span>
                                                </figure>
                                            </div>
                                            <div class="flex-grow-1">
                                                <p class="mb-0">Folder 2</p>
                                                <span class="small text-muted">4 Folders&ensp;(8 Files)</span>
                                            </div>
                                            <div>
                                                <h5 class="text-primary">20 GB</h5>
                                            </div>
                                        </a>
                                        <a href="#" class="list-group-item px-0 d-flex align-items-center">
                                            <div class="mr-3">
                                                <figure class="avatar">                                       
                                                    <span class="material-icons avatar-title bg-primary-bright text-primary rounded">
                                                        folder_open
                                                    </span>
                                                </figure>
                                            </div>
                                            <div class="flex-grow-1">
                                                <p class="mb-0">Folder 3</p>
                                                <span class="small text-muted">14 Folders&ensp;(46 Files)</span>
                                            </div>
                                            <div>
                                                <h5 class="text-primary">10.5 GB</h5>
                                            </div>
                                        </a>
                                        <a href="#" class="list-group-item px-0 d-flex align-items-center">
                                            <div class="mr-3">
                                                <figure class="avatar">                                       
                                                    <span class="material-icons avatar-title bg-primary-bright text-primary rounded">
                                                        folder_open
                                                    </span>
                                                </figure>
                                            </div>
                                            <div class="flex-grow-1">
                                                <p class="mb-0">Folder 4</p>
                                                <span class="small text-muted">9 Folders&ensp;(50 Files)</span>
                                            </div>
                                            <div>
                                                <h5 class="text-primary">2.8 GB</h5>
                                            </div>
                                        </a>
                                        <a href="#" class="list-group-item px-0 d-flex align-items-center">
                                            <div class="mr-3">
                                                <figure class="avatar">                                       
                                                    <span class="material-icons avatar-title bg-primary-bright text-primary rounded">
                                                        folder_open
                                                    </span>
                                                </figure>
                                            </div>
                                            <div class="flex-grow-1">
                                                <p class="mb-0">Folder 4</p>
                                                <span class="small text-muted">9 Folders&ensp;(50 Files)</span>
                                            </div>
                                            <div>
                                                <h5 class="text-primary">2.8 GB</h5>
                                            </div>
                                        </a>
                                        <a href="#" class="list-group-item px-0 d-flex align-items-center">
                                            <div class="mr-3">
                                                <figure class="avatar">                                       
                                                    <span class="material-icons avatar-title bg-primary-bright text-primary rounded">
                                                        folder_open
                                                    </span>
                                                </figure>
                                            </div>
                                            <div class="flex-grow-1">
                                                <p class="mb-0">Folder 4</p>
                                                <span class="small text-muted">9 Folders&ensp;(50 Files)</span>
                                            </div>
                                            <div>
                                                <h5 class="text-primary">2.8 GB</h5>
                                            </div>
                                        </a>
                                        <a href="#" class="list-group-item px-0 d-flex align-items-center">
                                            <div class="mr-3">
                                                <figure class="avatar">                                       
                                                    <span class="material-icons avatar-title bg-primary-bright text-primary rounded">
                                                        folder_open
                                                    </span>
                                                </figure>
                                            </div>
                                            <div class="flex-grow-1">
                                                <p class="mb-0">Folder 4</p>
                                                <span class="small text-muted">9 Folders&ensp;(50 Files)</span>
                                            </div>
                                            <div>
                                                <h5 class="text-primary">2.8 GB</h5>
                                            </div>
                                        </a>
                                        <a href="#" class="list-group-item px-0 d-flex align-items-center">
                                            <div class="mr-3">
                                                <figure class="avatar">                                       
                                                    <span class="material-icons avatar-title bg-primary-bright text-primary rounded">
                                                        folder_open
                                                    </span>
                                                </figure>
                                            </div>
                                            <div class="flex-grow-1">
                                                <p class="mb-0">Folder 4</p>
                                                <span class="small text-muted">9 Folders&ensp;(50 Files)</span>
                                            </div>
                                            <div>
                                                <h5 class="text-primary">2.8 GB</h5>
                                            </div>
                                        </a>
                                        <a href="#" class="list-group-item px-0 d-flex align-items-center">
                                            <div class="mr-3">
                                                <figure class="avatar">                                       
                                                    <span class="material-icons avatar-title bg-primary-bright text-primary rounded">
                                                        folder_open
                                                    </span>
                                                </figure>
                                            </div>
                                            <div class="flex-grow-1">
                                                <p class="mb-0">Folder 4</p>
                                                <span class="small text-muted">9 Folders&ensp;(50 Files)</span>
                                            </div>
                                            <div>
                                                <h5 class="text-primary">2.8 GB</h5>
                                            </div>
                                        </a>
                                        <a href="#" class="list-group-item px-0 d-flex align-items-center">
                                            <div class="mr-3">
                                                <figure class="avatar">                                       
                                                    <span class="material-icons avatar-title bg-primary-bright text-primary rounded">
                                                        folder_open
                                                    </span>
                                                </figure>
                                            </div>
                                            <div class="flex-grow-1">
                                                <p class="mb-0">Folder 4</p>
                                                <span class="small text-muted">9 Folders&ensp;(50 Files)</span>
                                            </div>
                                            <div>
                                                <h5 class="text-primary">2.8 GB</h5>
                                            </div>
                                        </a>
                                    </div>
                                </div>                    
                            </div>              
                        </div>
                        <!-- ./ Sidebar - Storage -->                        
                    </div>
                    <!-- ./ Sidebar group -->
                </div>
                

            </div>

            <div class="content-title d-flex justify-content-between">
                <h4 class="f-20 font-color-red">Quick Access</h4>
                <a href="#">View All</a>
            </div>

            <div class="row mb-4">
                <div class="col-sm text-center">
                    <div class="card mb-3">
                        <div class="card-body">
                            <a href="#" class="avatar avatar-lg">
                                <!-- <span class="avatar-title bg-primary rounded-pill">
                                    <i class="ti-image"></i>
                                </span> -->
                                <span class="material-icons avatar-title bg-success rounded-pill">
                                    mark_chat_read
                                </span>
                            </a>
                        </div>
                    </div>
                    <h5 class="f-15">Approved</h5>
                </div>
                <div class="col-sm text-center">
                    <div class="card mb-3">
                        <div class="card-body">
                            <a href="#" class="avatar avatar-lg">
                                <!-- <span class="avatar-title bg-secondary rounded-pill">
                                    <i class="ti-video-camera"></i>
                                </span> -->
                                <span class="material-icons avatar-title bg-secondary rounded-pill">
                                    check_box
                                </span>
                            </a>
                        </div>
                    </div>
                    <h5 class="f-15">Checkout</h5>
                </div>
                <div class="col-sm text-center">
                    <div class="card mb-3">
                        <div class="card-body">
                            <a href="#" class="avatar avatar-lg">
                                <!-- <span class="avatar-title bg-success rounded-pill">
                                    <i class="ti-music"></i>
                                </span> -->
                                <span class="material-icons avatar-title bg-warning rounded-pill">
                                    pending_actions
                                </span>
                            </a>
                        </div>
                    </div>
                    <h5>Pending Reviews</h5>
                </div>
                <div class="col-sm text-center">
                    <div class="card mb-3">
                        <div class="card-body">
                            <a href="#" class="avatar avatar-lg">
                                <!-- <span class="avatar-title bg-warning rounded-pill">
                                    <i class="ti-files"></i>
                                </span> -->
                                <span class="material-icons avatar-title bg-primary rounded-pill">
                                    alarm_on
                                </span>
                            </a>
                        </div>
                    </div>
                    <h5 class="f-15">Pending Approvals</h5>
                </div>
                <div class="col-sm text-center">
                    <div class="card mb-3">
                        <div class="card-body">
                            <a href="#" class="avatar avatar-lg">
                                <!-- <span class="avatar-title bg-info rounded-pill">
                                    <i class="ti-download"></i>
                                </span> -->
                                <span class="material-icons avatar-title bg-info rounded-pill">
                                    error_outline
                                </span>
                            </a>
                        </div>
                    </div>
                    <h5 class="f-15">Rejected</h5>
                </div>        
            </div>             

        </div>
        <!-- ./ Content body -->
        
    </div>
    <!-- ./ Content wrapper -->
</div>
<!-- ./ Layout wrapper -->
