<div class="az-content az-content-dashboard">
    <div class="container-fluid">
      <div class="az-content-body">
        <div class="az-content-header d-block d-md-flex">
          <div>
            <h2 class="az-content-title tx-24 mg-b-5 mg-b-lg-8">Hi, Admin!</h2>
            <p class="mg-b-0">Your Dashboard.</p>
          </div>
          <div class="az-dashboard-header-right">
            <div>
              <label class="tx-13">Customer Ratings</label>
              <div class="az-star">
                <i class="typcn typcn-star active"></i>
                <i class="typcn typcn-star active"></i>
                <i class="typcn typcn-star active"></i>
                <i class="typcn typcn-star active"></i>
                <i class="typcn typcn-star"></i>
                <span>(12,775)</span>
              </div>
            </div>
            <div>
              <label class="tx-13">All Sales (Online)</label>
              <h5>431,007</h5>
            </div>
            <div>
              <label class="tx-13">All Sales (Offline)</label>
              <h5>932,210</h5>
            </div>
          </div><!-- az-dashboard-header-right -->
        </div><!-- az-content-header -->
  
        <div class="az-content-body">
          <div class="">
            <div class="card card-table-two">
              <h6 class="card-title">Hotel Data</h6>
              <!-- <span class="d-block mg-b-20">This is the most recent earnings for today's date.</span> -->
                  <div class="fluid-container">
                    <h4 class="card-text latest-reviews-title"> Reviews</h4>
                    <div class="col-12 row">
                      <div class="col-6">
  
                        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                          [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
                        </canvas>
  
                      </div>
                      <div class="col-6">
                        <canvas baseChart [datasets]="lineChartData" [labels]="barChartLabels" [options]="lineChartOptions"
                          [plugins]="lineChartPlugins" [legend]="lineChartLegend" chartType="pie">
                        </canvas>
                        <!-- <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels"
                          [options]="lineChartOptions" [plugins]="lineChartPlugins" [legend]="lineChartLegend"
                          [chartType]="lineChartType">
                        </canvas> -->
                      </div>
                      <div class="col-6">
  
                        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="lineChartOptions"
                          [plugins]="barChartPlugins" [legend]="barChartLegend" chartType="pie">
                        </canvas>
                      </div>
                    </div>
  
                    <mat-tab-group mat-align-tabs="center" color="primary" backgroundColor="primary">
                      <mat-tab label="Booking.com">
                        <div class="card-header tx-medium bd tx-white bg-primary">
                          <div class=" COL-12">
                            <h4 class="card-text latest-reviews-title">Latest Reviews</h4>
                          </div>
                        </div>
  
                        <div *ngFor="let item of BookingReview" class="col-12">
                          <div class="row">
                            <div class="card card-body ">
                              <div class="mb-1">
                                <div class="row col-12">
  
                                  <img
                                    src="https://cf.bstatic.com/mobile/images/gta/iphone_app_icon/6a9bd9ce320f24431aa007112917bc9d029be5e0.png"
                                    class="logo">
  
                                  <div class="review-row-comment  col-11">
                                    <p>
                                      {{item.review_body}}
                                    </p>
                                    <!-- <br /> -->
                                    <span class="rating px-2">
                                      <span class="rating-box rating-box-4 px-2 bg-gray-400">{{item.user_rating}}
                                        <span class="fa fa-star rating-star">{{item.review_title}}</span>
                                      </span>
                                      <span class="pull-right">{{item.person_name}}</span>
                                    </span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </mat-tab>
                      <mat-tab label="Hotel.com">
  
  
                      </mat-tab>
  
                      <mat-tab label="Expedia.com">
  
  
                      </mat-tab>
  
                    </mat-tab-group>
  
                  </div><!-- table-responsive -->
            </div><!-- card-dashboard-five -->
          </div><!-- col -->
        </div><!-- az-content-body -->
      </div><!-- az-content-body -->
    </div>
  </div>