<!DOCTYPE html>
<html lang="en">
<body>
	<div class="limiter">
		<div class="container-login100" style="background-image: url('assets/Login/images/img-01.jpg');">
			<div class="wrap-login100">
				<form class="login100-form validate-form">
					<div class="login100-form-avatar">
						<img src="assets/gallery/faces/logo.png" alt="AVATAR">
					</div>

                    <div class="wrap-input100 bg-gray-200 bd rounded-10">
                        <div class="pd-x-15 pd-y-20">
                            <div class="text-center w-full pd-b-20">		
                                <i class="fa fa-unlock-alt tx-60 pd-b-25"></i>				
                                <div class="tx-16 tx-gray-800 tx-medium">Trouble Logging In?</div>		
                                <div class="tx-14 tx-gray-600">Enter your email and we'll send you a link to get back into your account.</div>			
                            </div>
    
                            <div class="wrap-input100 validate-input m-b-10" data-validate = "Username is required">
                                <input class="input100" type="email" name="email" formControlName="email" placeholder="Email">                            
                                <span class="focus-input100"></span>
                                <span class="login-field-icon"><i class="fa fa-envelope"></i></span>			
                            </div>
        
                            <div class="container-login100-form-btn pd-t-10 pd-b-20">
                                <button class="login-form-btn tx-medium">Send Login Link</button>
                            </div>
                        </div>

                        <div class="text-center bd-t pd-y-10 tx-gray-600 tx-medium mg-t-10" role="button" routerLink="/login">Back to Login</div>
                    </div>

                    

					
					
				</form>
			</div>
		</div>
	</div>
</body>
</html>