.login-form-btn{
    font-size: 15px;
    line-height: 1.5;
    color: #e8f0fe;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #1759d9;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    transition: all 0.4s;
    position: relative;
    z-index: 1;
	border: 1px solid #e8f0fe;
	opacity: .5;
}
.login-form-btn a {
	color: #e8f0fe;
	opacity: 1;
}
.login-form-btn:hover a{
	color: #1759d9;
	opacity: 1;
  }
.login-form-btn:hover{
	background-color: #e8f0fe;
	color: #1759d9;
	opacity: 1;
  }
.forgot-pwd{
	color: #86abf3;
}

.login-field-icon{
  position: absolute;
  top: 15px;
  left: 20px;
  color: #8b8b90;
}
.validation-quote{
  color: #fbdada;
  padding: 10px 10px 0;
}