

<div class="az-content pd-y-20 pd-lg-y-30 pd-xl-y-30">
  <div class="container-fluid">
    <div class="az-content-body d-flex flex-column">
      <div class="row row-xs">
            <div class="col-md-12">
            <div class="card bd-0">
              <div class="card-header tx-medium bd tx-white bg-gray">
                <div class="">
                <span class="az-content-label">Permissions</span>
                <!-- <a routerLink="add" class="pull-right">
                <button class="btn-primary custom-btn">
                  <span> Add Module</span>
                </button>
                </a> -->
                </div>
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb breadcrumb-style2">
                    <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
                    <li class="breadcrumb-item"><a routerLink="/user-management">Users</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Permissions</li>
                  </ol>
                </nav>
              </div><!-- card-header -->
              <div class="card-body bd bd-t-0">
                <div class="table-responsive">
                  <table class="table table-responsive-sm ">
                    <thead>
                        <tr>
                            <th scope="col">Module Name</th>
                            <th scope="col">Rights</th>
                            <!-- <th scope="col">Action</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let mod of modules;">
                            <td>
                              <span>{{mod.module_name}}</span>
                            </td>
                            <td>
                            <label class="checkbox-inline m-0-10" *ngFor="let right of mod.rights;">
                              <input type="checkbox"   [checked]="right.default" [(ngModel)]="right.default">
                              <span class="m-0-5">{{right.name}}</span>
                            </label>
                           
                            </td>
                            <!-- <td>
                                 <a class="far fa-trash-alt pd-4 ml-1"></a>                                
                            </td> -->
                        </tr>
                      
                    </tbody>
                </table>
                
           </div>
            <div class="row row-xs mg-b-20 ">
              <div class="d-flex flex-row col-4 offset-5 justify-content-end">
                <button type="button" class="btn-danger custom-btn" routerLink="/role-management">Cancel</button>
                <button type="button" class="btn-primary mg-r-5 mg-l-10 custom-btn" (click)="onSubmit()">Save</button>
              </div>                      
            </div>
              </div>
            </div>
          </div>
        </div>
    </div><!-- az-content-body -->
  </div><!-- container -->
</div><!-- az-content -->

