<div class="folder-dir-inner-wrap tree-bg">
  <div class="">
    <div class="tx-medium tx-orange pd-x-15 pd-y-4 bd-b"> <i class="fa fa-folder-open tx-orange mg-r-10"></i> File
      Explorer</div>
    <div class="pd-l-12 pd-b-10 tx-gray-800 bg-white tx-medium">
      <!-- <app-tree></app-tree> -->
      <tree-root #tree [nodes]="nodes" [options]="options" (toggleExpanded)="toggleExpanded($event)">
        <ng-template #treeNodeTemplate let-node let-index="index">
          <div class="d-flex">
            <i class="fa  tx-14 pd-t-3 tx-warning mg-r-5"
              [ngClass]="{'fa-folder': node.data.node_type == 1, 'fa-file':node.data.node_type == 2 }"></i>
            <span class="tx-13">{{ node.data.node_name }}</span>

          </div>
        </ng-template>
      </tree-root>

    </div>
    <div class="tx-medium tx-orange pd-x-15 pd-y-4 bd-b"> <i class="fa fa-folder-open tx-orange mg-r-10"></i> Others
    </div>
    <div class="list-group">
      <a role="button" class="list-group-item list-group-item-action pd-y-2 tx-13 tx-gray-700 tx-medium"
        (click)="advanceTracking()"> <i class="fa fa-folder tx-14 pd-t-3 tx-warning mg-r-5 "></i> Advanced Tracking</a>
      <a role="button" class="list-group-item list-group-item-action pd-y-2 tx-13 tx-gray-700 tx-medium"
        routerLink="/document-management/document-audit-trails"> <i
          class="fa fa-folder tx-14 pd-t-3 tx-warning mg-r-5 "></i> Audit Trials</a>
      <a role="button" class="list-group-item list-group-item-action pd-y-2 tx-13 tx-gray-700 tx-medium"
        (click)="revisionControl()"> <i class="fa fa-folder tx-14 pd-t-3 tx-warning mg-r-5 "></i> Revision Control</a>
      <a role="button" class="list-group-item list-group-item-action pd-y-2 tx-13 tx-gray-700 tx-medium"
        routerLink="/document-management/task-documents"> <i class="fa fa-folder tx-14 pd-t-3 tx-warning mg-r-5 "></i>
        Task Documents</a>
    </div>
  </div><!-- az-content-left -->
</div>

<!-- create folder modal -->

<div id="newfolder" class="modal over-the-tooltip">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content modal-content-demo">
      <div class="d-flex flex-row  pd-10">
        <i class="fa fa-folder-open tx-15 tx-gray-600 mg-x-5 mt-1"></i>
        <label class="mg-b-0 tx-15">Create New Directory</label>
      </div>
      <div class="modal-body bd-t bd-primary bd-5">
        <div class="az-content-body d-flex flex-column">
          <div class="card-body bd bd-t-0 pd-0">
            <div class="d-flex">
              <div class="col-4  bg-gray-100 pd-y-10 select-folder">

                <div class="bg-white bd pd-y-5 pd-l-2 rounded">
                  <div class="tx-15 tx-gray-900">Choose Directory</div>
                  <div class="tx-10 tx-orange">(Default root is public Directory)</div>
                </div>
                <tree-root #tree1 [nodes]="nodes1" [options]="options1" (toggleExpanded)="toggleExpanded1($event)"
                (click)="clickHandler($event)">
                <ng-template #treeNodeTemplate let-node let-index="index">
                  <div class="d-flex">
                    <i class="fa fa-folder tx-14 pd-t-3 tx-warning mg-r-5"></i>
                    <span class="tx-13">{{ node.data.node_name }}</span>
                  </div>
                </ng-template>
              </tree-root>
              </div>
              <div class="col-8 bd pd-t-20">
                <div class="row row-xs mg-b-20 pd-y-10">
                  <div class="col-md-12 row">
                    <div class="col-md-4">
                      <label class="form-label mg-b-0">Folder Name</label>
                    </div><!-- col -->
                    <div class="col-md-8 mg-t-5 mg-md-t-0">
                      <input type="text" class="form-control" [(ngModel)]="model.folder_name"
                      [ngClass]="{ 'is-invalid': submitted && !model.folder_name }">
                    <div *ngIf="submitted && !model.folder_name" class="invalid-feedback">
                      <div *ngIf="!model.folder_name">Folder Name is required</div>
                    </div>
                    </div><!-- col -->
                  </div>
                </div><!-- row -->
                <div class="row row-xs mg-b-20 pd-y-10">
                   <div class="col-md-12 row">
                    <div class="col-md-4">
                      <label class="form-label mg-b-0">Properties</label>
                    </div><!-- col -->
                    <div class="col-md-8 mg-t-5 mg-md-t-0">
                     <div class="multiselect-bg">
                                  <ng-multiselect-dropdown 
                                    class="form-control " name="properties" [placeholder]="'Select properties'"
                                    [settings]="dropdownSettings" [data]="propertyList" [(ngModel)]="model.properties"
                                    (onSelect)="onPropertyChange(1)" (onDeSelect)="onPropertyChange(2)"
                                    (onSelectAll)="onPropertyChange(3)" (onDeSelectAll)="onPropertyChange(4)" required
                                    [ngClass]="{ 'is-invalid': submitted && (!model.properties || model.properties.length == 0 ) }">
                                  </ng-multiselect-dropdown>
                                  <div *ngIf="submitted && (!model.properties || model.properties.length == 0 )" class="invalid-feedback">
                                    <div *ngIf="!model.properties || model.properties.length == 0 ">Property is required</div>
                                  </div>


                                </div>
                    </div><!-- col -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-3">
          <button type="button" (click)="addFolder()" class="custom-btn rounded btn-primary mg-l-5 wd-80 pull-right">
            Create</button>

          <button type="button"  class="custom-btn rounded btn-danger pull-right"
            data-dismiss="modal" aria-label="Close">close</button>
        </div>
        </div>
      </div>
    </div>
  </div><!-- modal-dialog -->
</div><!-- modal -->