<div class="az-content pd-y-10 pd-md-t-10 pd-lg-t-55 pd-xl-t-60">
    <div class="container-fluid">
      <div class="az-content-body d-flex flex-column">
        <div class="row row-xs">
              <div class="col-md-12">
              <div class="card bd-0">
                <div class="card-header tx-medium bd tx-white bg-gray">
                  <span class="az-content-label">Timeline</span>
                  <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-style2">
                      <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
                      <li class="breadcrumb-item" ><a routerLink="/document-management">Document Overview</a></li>
                      <li class="breadcrumb-item active" aria-current="page">TImeline</li>
                    </ol>
                  </nav>
                </div><!-- card-header -->
                <div class="card-body bd bd-t-0 pd-t-10">
                  <!-- <table></table> -->
                    <div class="d-flex flex-row justify-content-between mg-b-5 pd-x-20 pd-b-5 row">
                      <div class="col-md">
                        <div class="d-flex">
                          <label class="form-label">Document Name</label>
                           <span class="az-content-label pd-t-10 mg-t-2 mg-l-8 tx-bold tx-14">Weekly report.pdf</span>
                         </div>
                      </div>
                      <div class="col-md">
                        <div class="d-flex">
                          <label class="form-label">Author</label>
                          <span class="az-content-label pd-t-10 mg-t-2 mg-l-8 tx-bold tx-14">User 1</span>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="d-flex">
                          <label class="form-label">Uploaded Date</label>
                          <span class="az-content-label pd-t-10 mg-t-2 mg-l-8 tx-bold tx-14">15 Jan 2021</span>
                        </div>
                      </div>
                      
                    </div>   
                     



                      <div class="container-fluid d-flex flex-row justify-content-between bg-gray-200 rounded pd-y-3 mg-y-10" >
                        <div class="image-grouped">
                          <img src="assets/img/faces/face2.jpg" alt="profile image">
                          <span class="tx-medium pd-t-6 pd-l-6 tx-gray-800">Catherine</span>
                        </div>
                        <i class="fa fa-cogs mg-l-auto align-self-center mg-x-10 tx-gray-600"></i>
                        <div class="align-self-center wd-300">                          
                          <ngb-progressbar type="warning" [value]="40" [striped]="true" [animated]="true"><i>40%</i></ngb-progressbar>
                        </div>
                        
                      </div>
                      <div class="container-fluid timeline-container mg-b-20" >
                        <ul class="timeline">
                          <li><span class="year">20 Dec 2020</span>
                            <ul class="content">
                              <li><span class="badge badge-dark">08:24 am</span></li>
                              <li> <strong>User</strong> upload document the into  <strong>folder 1</strong>.</li>                              
                            </ul>
                          </li>
                          <li><span class="year">04 Jan 2021</span>
                            <ul class="content">
                              <li><span class="badge badge-dark">11:30 am</span> </li>
                              <li>Pending for review.</li>                       
                            </ul>
                          </li>
           
                          <li><span class="year new">Pending</span></li>
                        </ul>

                      </div>


                </div>
              </div>
            </div>
          </div>

        

      </div><!-- az-content-body -->
    </div><!-- container -->
  </div><!-- az-content -->

      

          

   